<div class="container outer-container">

  <div class="jumbotron">
    <h4>Post a Question</h4>
      <form class="form-horizontal">
          <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Title</label>
              <div class="col-sm-10">
              <input type="text" class="form-control" id="inputEmail3" placeholder="Title" ng-model="title">
              </div>
          </div>
          <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Body</label>
              <div class="col-sm-10">
              <input type="text" class="form-control" id="inputEmail3" placeholder="Body" ng-model="body">
              </div>
          </div>
          <div class="form-group">
              <label for="inputEmail4" class="col-sm-2 control-label">Select Category</label>
              <div class="col-sm-10">
                  <select id="inputEmail4" ng-model="selectedCategory" class="form-select">
                    <option ng-repeat="category in categories" value="{{category.category_id}}">{{category.category_name}}</option>
                  </select>
          </div><br>
          <div class="form-group">
              <button class="btn btn-primary" ng-click="addNewQuestion()">Add Question</button>
          </div>
    
      </form>
    
  </div>
  <br>
  <h4>Browse Question</h4>
  <div ng-repeat="question in questions" class="question jumbotron">
    <p><h3>{{question.title}}</h3></p>
    <p>{{question.body}}</p>
    <p>Posted by: {{question.user_name}} ({{question.user_email}})</p>
    <button class="btn btn-primary" ng-click="getAllReplies($index,question);" ng-hide="selectedIndex === $index">Read More</button>
    <div ng-show="selectedIndex === $index">
      <div class="form-group">
          <input type="text" placeholder="Reply" ng-model='reply[$index]'> 
      </div>
      <div class="form-group">
        <button class="btn btn-primary" ng-click="addReply($index,question)">Add Reply</button>
      </div>
      REPLIES : 
      <div ng-repeat="reply in question.reply">
        <div>
            Comment : {{reply.comment}}
        </div>
        <div>
            By : {{reply.user_name}}({{reply.user_email}})
        </div>
        <div>
            <button ng-click="addVote(reply,true)">Like</button> {{reply.like}} <br/>
            <button ng-click="addVote(reply,false)">Dislike</button> {{reply.dislike}}
        </div>
      </div>
      <div ng-if="question.reply.length === 0">
        No replies
      </div>
    </div>
  </div>
  <br>
</div>
